extends ../../base

block defaultVars
block content
    section.form
        .block
            header.form__head
                h1.form__head-title Donations
                .form__head-filter
                    .form__head-filter__search
                        input(type='search' placeholder='Search' name='search' autocomplete='off')
                    .form__head-filter__status
                        select(name='donations_status')
                            option(value='All statuses') All statuses
                            option(value='Success') Success
                            option(value='Pending') Pending
                            option(value='Error') Error
            .colgroup
                section.col.col--body.col--left
                    section.donation
                        .donation__top
                            .donation__top-left
                                .donation__title Donation
                                .donation__sum
                                    span.donation__sum-euro €20.60 EUR
                                    | #{' '}
                                    span.donation__sum-usd ≈ $22.22 USD
                            .donation__id
                                .donation__id-title ID
                                .donation__id-id
                                    .donation__id-val DYHY694Y
                                    a.donation__id-copy(href='#')
                                        span.donation__id-copy-tooltip Copy to clipboard
                        .donation__info
                            each entry, index in [['Status', 'Success'], ['Supporter', 'Charlotte Ann'], ['Campaign', 'Workout for water']]
                                .donation__info-item
                                    .donation__info-item__title=entry[0]
                                    - if (index === 0)
                                        .donation__info-item__status.success=entry[1]
                                    - else
                                        a.donation__info-item__lnk(href='#')=entry[1]
                aside.col.col--aside.col--right
                    ul.menu
                        each entry in [['amount', 'Change Amount'], ['payment', 'Change Payment Method'], ['date', 'Change Date'], ['cancel', 'Cancel Recurring']]
                            li.menu__entry
                                a.menu__lnk(href='#')
                                    img(src='/img/icon_' + entry[0] + '.svg' alt='')
                                    | #{entry[1]}


